<html>

<head>
    <title></title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
    <ul>{% for entity in result %}
        <li><a href="{{ entity['id'] }}">{{ entity['person'] }} {{ entity['university'] }} {{ entity['course'] }} {{
                entity['grup'] }} {{ entity['item_number'] }}</a></li>
        {% endfor %}
    </ul>
</body>

</html>