* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    background: #fff url('images/web7.jpg') no-repeat 40% center;
    /*background: #fff url('images/web9.gif') no-repeat 50% center;*/
}

.wrapper {
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.page {
    min-height: 100%;
    padding-bottom: 90px;
    box-sizing: border-box;
}

.author {
    height: 70px;
    margin-top: -90px;
    box-sizing: border-box;

    background: rgba(204, 204, 204, 0.43);
    border-radius: 0 0 20px 20px;
    padding: 5px;
    color: #777;
    font-size: 25px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-align: center;
}

.header {
    max-width: 1100px;
    height: 300px;
    background: #fff url('images/web1.jpg') no-repeat center;
}

.header_text {
    padding-top: 60px;
    padding-left: 100px;
    width: 400px;
    font-family: Monotype Corsiva, Tahoma, Arial;
    font-size: 42px;
}

.block-left{
    width:50%;
    height:800px;
    overflow:auto;
    float:left;
    background: #fff url('images/web10.jpg') no-repeat center;
    background-size: contain;
}

.block-right{
    width:50%;
    height:800px;
    overflow:auto;
    float: right;
    background: #fff url('images/web11.jpg') no-repeat center;
    background-size: contain;
}

button{
    padding: .5rem 1rem;
    background-color: #008cba;
    font-size: 1rem;
    color: #fff;
}

textarea{
    width: 75%;
    height: 5rem;
    padding: .5rem;
    font-size: 1rem;
}