<html>

<head>
    <title></title>
</head>

<body>
    <ul>{% for entity in result %}
        <li><a href="{{ entity['id'] }}">{{ entity['item_id'] }} {{ entity['item'] }}</a></li>
        {% endfor %}
    </ul>
</body>

</html>